@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Estilos adicionales si es necesario */
body {
  background-color: #fff;
  color: #1a202c;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a202c;
    color: #fff;
  }
}
